/* text-shadow 
box-shadow */

h1{
    text-shadow: 1px 1px 15px gray;
}
.box{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 50px;
    transition: all 0.5s linear;
    box-shadow: 10px 10px 5px grey;
}
.box:hover{
    box-shadow: 0 0 20px black;

}


